<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>Rasika Gayan Gunarathna</title>

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/vendor.css">
	<!-- script
   ================================================== -->
	<script src="../js/pace.min.js"></script>
</head>

<body id="top">
	<section id="intro">
		<div class="intro-overlay"></div>
		<div class="intro-content">
			<div class="row">
				<div class="col-twelve">

					<h5>Dream Big, Work Hard.</h5>
					<h1>I'm Rasika Gayan.</h1>

					<p class="intro-position">
						<span>Developer</span>
						<span>Lover</span>
					</p>

					<a class="button stroke smoothscroll" title="">More About Me</a>

				</div>

			</div>
		</div>
		<!-- /intro-content -->

		<ul class="intro-social">
			<li>
				<a href="https://www.facebook.com/iamrasikagayan">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/iamrasikagayan">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/iamrasikagayan/">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/rasikag">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a href="mailto:rasikag@idea-capsule.io">
					<i class="fa fa-envelope"></i>
				</a>
			</li>
		</ul>
	</section>
	<!-- Java Script
   ================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>